@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-primaria: #58A6FF;
    --cor-secundaria: #161b22;
    --cor-texto: #000000;
    --cor-bk-projeto: #161B22;
    --cor-btn-mode-tema: #9fc7f5;
    --cor-link-contato:#ffffff;
    --cor-background: #ffffff;
    --cor-header: #ffffff;
}

body.dark-mode {
    --cor-texto: #c9d1d9;
    --cor-secundaria: #0d1117;
    --cor-background: #141414;
    --cor-header: #0d1117;
    --cor-bk-projeto: #21262d;
    --cor-btn-mode-tema: #58A6FF;
    background-color: var(--cor-background);
    color: var(--cor-texto);
}

body {
    background-color: var(--cor-background);
    color: var(--cor-texto);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header.movi {
    background-color: var(--cor-header) !important;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 10px;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    &.movi {
        opacity: 1;
        background-color: #ffff;
    }
    & .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            height: 3rem;
            width: 3rem;
            border-radius: 100%;
        }
        & h1 {
            font-size: 20px;
            font-weight: 700;
            transition: color 0.3s ease;
            &:hover {
                color: var(--cor-primaria);
            }
        }
    }
    & nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        & a {
            font-size: 17px;
            font-weight: 500;
            color: var(--cor-texto);
            transition: color 0.3s ease;
            &:hover {
                color: var(--cor-primaria);
            }
        }
    }
    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-right: 5px;
        & i {
            text-align: center;
            font-size: 1.2vw;
            width: 2.5vw;
            height: 2.5vh;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            &:hover {
                background-color: var(--cor-btn-mode-tema);
                transform: scale(1.1);
            }
        }
    }
}
section{
    margin: 0 9vw;
    height: 100vh;
}
.sobre{
    padding-top: 15vh;
    font-size: 1.2vw;
    background-color: var(--cor-backgroud-primaria);
    & h2{
        font-size: 2.8vw;
    }& .container{
        width:30vw;
        & div{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px
        }& span{
            color: var(--cor-primaria)
        }
    }
}
.habilidades{
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    & span{
        color: var(--cor-primaria);
    }& h2{
        font-size: 2.5vw;
    }.container-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 12vh;
        & div{
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & i{
                font-size: 2.5vw;
                color: var(--cor-primaria);
            }
        }
    }   
}

.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    & h3{
        font-size: 2.5vw;
    }
    & .container-projetos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        & figure {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 310px;
            height: 200px;
            background: var(--cor-bk-projeto);
            border-radius: 20px;
            color: white;
            & a img{
                width: 270px;
                object-fit: cover;
                border-radius: 6px;
            }
            & figcaption a i {
                color: var(--cor-primaria);
            }
        }
    }
}

footer{
    background: var(--cor-secundaria);
    padding: 30px 25px;
    & .social{
        display: flex;
        justify-content: center;
        gap: 30px;
        & a{
            color: var(--cor-link-contato);
            font-size: 2em;
            transition: all 0.3s ease;
        }
        & a:hover{
            color: var(--cor-primaria);
            font-size: 2.5em;
        }
    }
}