@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-primaria: #58A6FF;
    --cor-secundaria: #161B22;
    --cor-fundo: #f3f3f3;
    --cor-texto: #0000 ;
    --cor-texto-claro: #;
    --cor-backgroud-primaria: # ;
    --cor-backgroud-secundaria: # ;
    --cor-header-scroll: rgba(22, 27, 34, 0.98);
    --cor-hover-link: #d3d3d3;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 9vw;
    width: 78%;
    position: fixed;
    top: 0;
    padding-top: 10px;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

header.movi {
    opacity: 1;
    background-color: #ffff;
}

& .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
    }& h1{
        font-size: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
    }& h1:hover {
        color: var(--cor-primaria);
    } 
}

& nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw; 
    & a{
    font-size: 17px;
    font-weight: 500;
    color: var(--cor-texto);
    transition: color 0.3s ease;
    } 
}   

& a:hover {
    color: var(--cor-primaria);
}

& div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 5px;
    & i{
        text-align: center;
        font-size: 1.2vw;
        width: 2.5vw;
        height: 2.5vh;
        border-radius: 50%; 
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        background-color: var(--cor-fundo);
    } & i:hover {
        background-color: var(--cor-hover-link); 
        transform: scale(1.1); 
    }
}
section{
    margin: 0 9vw;
    height: 100vh;
}
.sobre{
    padding-top: 15vh;
    font-size: 1.2vw;
    background-color: var(--cor-backgroud-primaria);
    & h2{
        font-size: 2.8vw;
    }& .container{
        width:30vw;
        & div{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px
        }& span{
            color: var(--cor-primaria)
        }
    }
}
.habilidades{
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    & span{
        color: var(--cor-primaria);
    }& h2{
        font-size: 2.5vw;
    }.container-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 12vh;
        & div{
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & i{
                font-size: 2.5vw;
                color: var(--cor-primaria);
            }
        }
    }   
}

.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: var(--cor-backgroud-secundaria);
    & h3{
        font-size: 2.5vw;
    }
    & .container-projetos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        & figure {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 310px;
            height: 200px;
            background: var(--cor-secundaria);
            border-radius: 20px;
            color: var(--cor-texto-claro);
            & a img{
                width: 270px;
                object-fit: cover;
                border-radius: 6px;
            }
            & figcaption a i {
                color: var(--cor-primaria);
            }
        }
    }
}

footer{
    background: var(--cor-secundaria);
    padding: 30px 25px;
    width: ;
    & .social{
        display: flex;
        justify-content: center;
        gap: 30px;
        & a{
            color: var(--cor-hover-link);
            font-size: 2em;
            transition: all 0.3s ease;
        }
        & a:hover{
            color: var(--cor-primaria);
            font-size: 2.5em;
        }
    }
}